<nav class="navbar navbar-default" style="background-color: #FFFFFF; border-color: #FFFFFF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_small.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

		<br>
		<br>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="proclamation" style="font-size: 200%; font-weight: 600;">
				You've earned your badges.<br>Now show off your skills with Napkn.
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>You're now equiped to be an awesome real-world developer. Learning the skills is a great first step... but entering the "real world" of development can be hard. You've heard that the community is full of cool people... but how can you meet them? How can you prove that you know your stuff?</p>
				<br>
				<p>Enter Napkn. Napkn's goal is to bring people’s app ideas to life. Each week they select the best idea submitted and build it.</p>
				<br>
				<p>Who gets to build the apps? You! Me! Anyone! Napkn is a platform where awesome developers can spend a week of their time collaborating with new people to build a great MVP.</p>
				<br>
				<p>Jump in for a week, make some new friends, and help bring someone's app idea to life. As you collaborate you'll be able to share the process with Napkn's <a href="https://twitter.com/napknapps">Twitter audience</a>. All of the code you write will be open sourced to inspire new developers.</p> 
				<br>
				<p>Sounds like a pretty great start to getting connected, eh? If you're interested send your Twitter handle and a link to something cool you've made here: <a href="mailto:admin@napkn.io">admin@napkn.io</a>. Or check out the current app ideas to see if any inspire you:</p>
				<br>
			</div>

	<div class="action">
		<a href="/app_ideas" class="btn action-btn" role="button">Current App Ideas</a>
	</div>


		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
