<div class="container">
	<div class="header">
		<img src="/assets/logo.png" alt="" height="100" width="100"/> Napkn
	</div>

	<div class="proclamation">
		Great app ideas deserve to be built. Each week we bring someone's app to life. 
		<br>
		You bring the idea, we'll cover the rest.
	</div>

	<div class="action">
		<button type="button" class="btn action-btn">Submit your app idea</button>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="box1 col-md-4">
    	
    </div>
    <div class="box2 col-md-4">
    	
    </div>
    <div class="box3 col-md-4">
    	
    </div>
  </div>
  <div class="row">
    <div class="box4 col-md-4">
    	
    </div>
    <div class="box5 col-md-4">
    	
    </div>
    <div class="box6 col-md-4">
    	
    </div>
  </div>

</div>

<div class="container">
	<div class="proclamation">
		All apps powered by: 
		<br>
		<br>
		<img src="/assets/firebase_logo.png" alt="" height="51" width="259"/>
	</div>
</div>

<br>
<br>
<br>

