<div class="container">
	<div class="header">
		<img src="/assets/logo.png" alt="" height="100" width="100"/> Napkn
	</div>

	<div class="proclamation">
		Great app ideas deserve to be built. Each week we bring someone's app to life. 
		<br>
		You bring the idea, we'll cover the rest.
	</div>

	<div class="action">
		<button type="button" class="btn action-btn">Submit your app idea</button>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="box1 col-sm-4">
	    <div class="week-label">
	    	Week 6 (Example)
	    </div>
	    <div class="app-icon-holder">
	    </div>
	   	<div class="app-title">
	   		Retrace
	    </div>
	   	<div class="app-description">
	   		Directions to your last photo. Idea by @ryanhoover. Built by @zachwhlechel.
	    </div>
    </div>
    <div class="box2 col-sm-4">
    	<div class="week-label">
	    	Week 5 (Example)
	    </div>
	    <div class="app-icon-holder">
	    </div>
	    <div class="app-title">
	   		Yolo
	    </div>
	    <div class="app-description">
	   		Don’t ever miss out again. Idea by @briantroyer. Built by @zachwhlechel.
	    </div>
    </div>
    <div class="box3 col-sm-4">
    	<div class="week-label">
	    	Week 4 (Example)
	    </div>
	    <div class="app-icon-holder">
	    </div>
	    <div class="app-title">
	   		42
	    </div>
	    <div class="app-description">
	   		So many questions, so little time. Idea by @davideast. Built by @zachwhlechel.
	    </div>
    </div>
  </div>
  <div class="row">
    <div class="box4 col-sm-4">
    	<div class="week-label">
	    	Week 3 (Example)
	    </div>
	    <div class="app-icon-holder">
	    </div>
	    <div class="app-title">
	   		Days
	    </div>
	    <div class="app-description">
	   		Where’d my week go? Idea by @samwithey. Built by @zachwhlechel.
	    </div>
    </div>
    <div class="box5 col-sm-4">
    	<div class="week-label">
	    	Week 2 (Example)
	    </div>
	    <div class="app-icon-holder">
	    </div>
	    <div class="app-title">
	   		QuickEdit
	    </div>
	    <div class="app-description">
	   		Test your luck photo editing. Idea by @sharayahjung. Built by @zachwhlechel.
	    </div>
    </div>
    <div class="box6 col-sm-4">
    	<div class="week-label">
	    	Week 1 (Example)
	    </div>
	    <div class="app-icon-holder">
	    </div>
	    <div class="app-title">
	   		Lost
	    </div>
	    <div class="app-description">
	   		Imaginary treasure hunt. Idea by @sarahsmith. Built by @zachwhlechel.
	    </div>
    </div>
  </div>

</div>

<div class="container">
	<div class="proclamation">
		All apps powered by: 
		<br>
		<br>
		<img src="/assets/firebase_logo.png" alt="" height="51" width="259"/>
	</div>
</div>

<br>
<br>
<br>

