<script type="text/javascript">
	function fbs_click()
	{u="www.napkn.io";t="Napkn";window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}
</script>

<nav class="navbar navbar-default hidden-xs">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="header">
		<img src="/assets/logo.png" alt="" height="100" width="100"/> Napkn
	</div>

	<div class="proclamation">
		Great app ideas deserve to be built. Each week we bring someone's app to life. 
		<br>
		You bring the idea, we'll cover the rest.
	</div>

	<div class="action">
		<a href="mailto:idea@napkn.io" class="btn action-btn" role="button">Submit your app idea</a>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>

</div>

<div class="container-fluid">
  <div class="row">
  	<div class="box col-sm-4" style="background: #feab72;">
	    <div class="week-label">
	    	Week 4
	    </div>
	    <a href="/apps/roll_out">
	    	<div class="app-icon-holder">
	    	</div>
	    </a>
	   	<div class="app-title">
	   		<a href="/apps/roll_out">Roll Out</a>
	    </div>
	   	<div class="app-description">
	   		An alarm clock you won't want to miss. Idea by <a href="https://twitter.com/brentholuta">@brentholuta.</a>
	    </div>
    </div>
  	<div class="box col-sm-4" style="background: #fc8573;">
	    <div class="week-label">
	    	Week 3
	    </div>
	    <a href="/apps/envoyer">
	    	<div class="app-icon-holder">
	    		<img src="/assets/week_3_icon.png" alt="" height="130" width="130" class="app-icon">
	    	</div>
	    </a>
	   	<div class="app-title">
	   		<a href="/apps/envoyer">Envoyer</a>
	    </div>
	   	<div class="app-description">
	   		Recapture the spirit of letters. Idea by <a href="https://twitter.com/rtseidel">@rtseidel.</a>
	    </div>
    </div>
    <div class="box col-sm-4" style="background: #719efa;">
	    <div class="week-label">
	    	Week 2
	    </div>
	    <a href="/apps/nomojo">
	    	<div class="app-icon-holder">
	    		<img src="/assets/week_2_icon.png" alt="" height="130" width="130" class="app-icon">
	    	</div>
	    </a>
	   	<div class="app-title">
	   		<a href="/apps/nomojo">NoMoJo</a>
	    </div>
	   	<div class="app-description">
	   		No motivation needed journal. Idea by <a href="http://twitter.com/ericlevans">@ericlevans.</a>
	    </div>
    </div>
    <div class="box col-sm-4" style="background: #f768f7;">
    	<div class="week-label">
	    	Week 1
	    </div>
	    <a href="/apps/carl_is_hungry">
		    <div class="app-icon-holder">
		    	<img src="/assets/week_1_icon.png" alt="" height="130" width="130" class="app-icon">
		    </div>
	    </a>
	    <div class="app-title">
	   		<a href="/apps/carl_is_hungry">Carl is Hungry</a>
	    </div>
	    <div class="app-description">
	   		How long can you survive? Idea by <a href="http://twitter.com/danieloleary">@danieloleary.</a>
	    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="question">
				What makes a great app idea?
			</div>
			<div class="answer">
				Great apps come from simple ideas; focus is key. The apps we select to build will:
				<br>
				<br>
				<ul>
				  <li>Solve a real need.</li>
				  <li>Be unique. (Have you searched the App Store for similar ideas?)</li>
				  <li>Be well defined. (Sketch out how the app might look.)</li>
				  <li>Be feasible to create within a week.</li>
				</ul>
			</div>
			<div class="question">
				Is it really free?
			</div>
			<div class="answer">
				Absolutely. We're in this to bring great ideas to life. All chosen apps will be created for free. They'll also show up on the App Store for free. Cool, eh?
			</div>
			<div class="question">
				Who owns the app once its built?
			</div>
			<div class="answer">
				Napkn will own the apps that are built so that we can open-source them for others to learn from. Additionally, all ideas sent to Napkn will be considered public and may be shared by Napkn on Twitter/etc.
			</div>
			<div class="question">
				What if my friends have great ideas too?
			</div>
			<div class="action" style="text-align: left; margin-top: 20px;">
				<a class="fb_link btn action-btn" role="button" onclick="return fbs_click()" href="#" style="margin-right: 10px;">Share on Facebook</a><a class="twitter_link btn action-btn" role="button" href="http://twitter.com/intent/tweet?text=Have+an+app+idea%3F+Each+week+@NapknApps+is+bringing+someone%27s+app+to+life.+Submit+your+idea+-%3E+www.napkn.io&url=undefined" target="_blank">Share on Twitter</a>
			</div>
			<div class="question">
				What if I just want to follow along?
			</div>
			<div class="answer">
				<a class="btn action-btn" role="button" href="/posts" style="margin-right: 10px;">Check out our Blog</a>
			</div>

		</div>
	</div>
</div>

<br>
<br>
<br>

<div class="container">
	<div class="proclamation">
		All apps powered by: 
		<br>
		<br>
		<a href="http://firebase.com/"><img src="/assets/firebase_logo.png" alt="" height="51" width="259"/></a>
	</div>
</div>

<br>
<br>
<br>

