<nav class="navbar navbar-default" style="background-color: #f768f7; border-color: #f768f7;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #f768f7;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    	<img src="/assets/week_1_icon.png" alt="" height="130" width="130" class="app-icon">
		    </div>
		    <div class="app-title">
		   		Carl is Hungry
		    </div>
		    <div class="app-description">
		   		How long can you survive? Idea by <a href="http://twitter.com/danieloleary">@danieloleary.</a>
		    </div>
		</div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for Carl came from Daniel O'Leary after watching the movie "It Follows." Daniel wanted to recapture the suspense of the film in an app. Here's the original submission:
				<br>
				<br>
				<blockquote> 
					<i>
					  <p>Imagine that the app basically starts tracking you when you open it, and follows you using map directions. As soon as it it close enough to you, for example, 30 yards, your phone starts to buzz / countdown to warn you of the danger. It gets closer and closer until you leave the zone where the chase resumes. I think the appeal of this game is based on a) fear and b) simplicity</p>
						<ul>
						  <li>Leaderboards are a given - points are scored by how long you live. You can become safe if you share it with a friend.</li>
						  <li>Inapp purchases can buy you more time to escape</li>
						  <li>Instant virality- share it with a friend to buy you more time, and you can get "cured" and prestige if your friends passed it along and you become “safe”</li>
						</ul>
					</i>
				</blockquote>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/danieloleary">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/daniel_oleary.jpg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Daniel O'Leary</b></h4>
				    <h5><a href="http://twitter.com/danieloleary">@danieloleary</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
			<div class="question">
				Links
			</div>
			<div class="answer">
				<a href="https://github.com/NapknApps/Carl">Code on Github</a>  
			</div>
		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek1" data-widget-id="621426983109570560">#NapknAppWeek1 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
