<nav class="navbar navbar-default" style="background-color: #fc8573; border-color: #fc8573;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #fc8573;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    </div>
		    <div class="app-title">
		   		Envoyer
		    </div>
		    <div class="app-description">
		   		Recapture the spirit of letters. Idea by <a href="https://twitter.com/rtseidel">@rtseidel.</a>
		    </div>
		</div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for Envoyer came from Taylor Seidel. Taylor wants to bring back the exciment of writing and recieving letters. Here's the original submission:
				<br>
				<br>
				<blockquote> 
					<i>
						<p>I want an app that restores some of the excitement and romance to the standard messaging app. By definition, all of the messaging apps out there share everything instantly and save your whole conversation forever unless you delete it. Most apps will even share exactly when you are typing! When you can see everything at once, there are no surprises!</p> 
						<p>We are fortunate to have the technology that we no longer have to rely on letters and the post office to communicate long distances, but we've lost a lot in the process. The delight in crafting a really excellent letter; the touch of sealing it and posting it--sending it out into the world; the anticipation of waiting for a letter to arrive; and the excitement and pleasure of finally opening a friend's letter. Letter writing--from friends passing notes in class to lovers writing across great distances--is a dying art form, but one with many aspects that could easily be adapted for the digital world.</p> 
						<p>An amazing, fun app (I call it Envoyer, French for "to send") would be one where you can write messages to your friends that disappear from your phone when sent. Your friend would receive the message and could directly respond to it and send it back. Like dropping the letter back in the mail, the chain would then disappear from their phone. When your received it, you would see your friend's response as well as your original message.</p>
						<p>Whereas in a normal text conversation you're just receiving a single addition to a massive string of little messages that you've already seen, now you're receiving a surprising new contribution to a constantly growing and evolving dialogue. When a new letter comes in, you may also scroll back through the dialogue and see something delightful that you may have forgotten about when you sent it away. Instead of sending little notes accumulating in a long line, you're passing something meaningful back and forth between friends.</p> 
						<p>Of course, this app would not replace email, group messaging, or text, but I think there is an audience who wants to talk with their friends and significant others in a less business-like, more whimsical way.</p> 
						<p>I hope this is intriguing! I'm attaching a few old and very rudimentary sketches. Forgive the poor graphic design, but I hope they convey how simple this app​​ would truly be!</p> 
					</i>
				</blockquote>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/rtseidel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/taylor_seidel.png" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Taylor Seidel</b></h4>
				    <h5><a href="https://twitter.com/rtseidel">@rtseidel</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek3" data-widget-id="623211350865641473">#NapknAppWeek3 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
