<nav class="navbar navbar-default" style="background-color: #f56c6c; border-color: #f56c6c;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #f56c6c;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    </div>
		    <div class="app-title">
		   		Ghost Commute
		    </div>
		    <div class="app-description">
		   		Race against your commute times. Idea by <a href="https://twitter.com/lymanstoneky">@lymanstoneky</a>.
		    </div>
		</div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for Ghost Communte came from Lyman Stone. Lyman wanted a way to race his past commute times. Here's the original pitch:
				<br>
				<br>
				<blockquote> 
					<i>
						<p>Basically, it logs your commute time for you. Very simple. And it'll give you your weekly, monthly, seasonal, annual averages, whatever. And it will tell you whether you had a similar time for the same route or not (i.e. racing yourself on same route), and also compare to your typical commute time using other routes. i.e. if I take the train, it'll use actual traffic as it changes while I'm on the train to develop my hypothetical car-commute. So I'm racing my previous train-time, and also my counterfactual car-, walk-, or bike-time.</p> 
					</i>
				</blockquote>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/lymanstoneky">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/lyman_stone.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Lyman Stone</b></h4>
				    <h5><a href="https://twitter.com/lymanstoneky">@lymanstoneky</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
			<div class="question">
				Links
			</div>
			<div class="answer">
				<a href="https://github.com/NapknApps/Ghost_Commute">Code on Github</a>  
			</div>
		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek7" data-widget-id="648558933616009216">#NapknAppWeek7 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>			
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
