<nav class="navbar navbar-default" style="background-color: #719efa; border-color: #719efa;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #719efa;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    	<img src="/assets/week_2_icon.png" alt="" height="130" width="130" class="app-icon">
		    </div>
		    <div class="app-title">
		   		NoMoJo
		    </div>
		    <div class="app-description">
		   		No motivation needed journal. Idea by <a href="http://twitter.com/ericlevans">@ericlevans.</a>
		    </div>
		</div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for NoMoJo came from Eric Evans. Eric is a firm believer that habits can only be started when the initial victories take as little effort as possible. Here's the original submission:
				<br>
				<br>
				<blockquote> 
					<i>
						<p>I am a believer that the only way to understand personal progress and reach personal goals is to somehow track and measure yourself.</p> 
						<p>I also think that a lot can come from small bits of information gathered across a long period of time.</p> 
						<p>I want to journal so I can track my progress as I am trying to figure out what I want to do and how I currently feel about what I am doing: professionally, relationally, spiritually, etc. However, I do not make the time to record this important information.</p> 
						<p>i.e NoMoJo the “No Motivation Journal”</p>
						<p>Each night while setting an alarm or going through your nightly routine you have precisely 30 seconds to record the highlights and emotions of the day. Once recorded the app then documents the days journal under the specific date in text for later use.</p>
						<p>I love this idea and would love to be able to do this!</p> 
						<p>I need a way of tracking myself with minimal effort.</p>
					</i>
				</blockquote>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/ericlevans">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/eric_evans.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Eric Evans</b></h4>
				    <h5><a href="http://twitter.com/ericlevans">@ericlevans</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
			<div class="question">
				Links
			</div>
			<div class="answer">
				<a href="https://github.com/NapknApps/NoMoJo">Code on Github</a>  
			</div>
		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek2" data-widget-id="621444822776311808">#NapknAppWeek2 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
