<nav class="navbar navbar-default" style="background-color: #feab72; border-color: #feab72;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #feab72;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    </div>
		    <div class="app-title">
		   		Roll Out
		    </div>
		    <div class="app-description">
		   		An alarm clock you won't want to miss. Idea by <a href="https://twitter.com/brentholuta">@brentholuta.</a>
		    </div>
		</div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for Roll Out came from Brent Holuta. Brent wanted a new way to encourage himself and his friends to wake up on time. Here's the original submission:
				<br>
				<br>
				<blockquote> 
					<i>
						<p>Here's an app idea for you.  It's called Roll Out (or something else, if creativity strikes).  Essentially, it's an alarm clock that rewards you for 'not hitting the snooze button' (or hitting it minimally).  So maybe if you go an entire week with only 1 or 2 "snoozes", you receive a prize.  Maybe you can also link it to FB and compete with friends for "fewest snoozes" during the week.</p>   
						<p>What kind of rewards?  Kiip actually pays developers to use their services, so you could integrate Kiip rewards - or a similar service.  There would have to be some sort of controls... ie, you can't set multiple alarms, etc...</p>  
						<p>But overall, I think this would be a fun project and a new form of discipline and competition.</p> 
					</i>
				</blockquote>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/brentholuta">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/brent_holuta.jpg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Brent Holuta</b></h4>
				    <h5><a href="https://twitter.com/brentholuta">@brentholuta</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek4" data-widget-id="625902760635015168">#NapknAppWeek4 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
