<nav class="navbar navbar-default" style="background-color: #feab72; border-color: #feab72;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #feab72;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    	<img src="/assets/week_5_icon.png" alt="" height="130" width="130" class="app-icon">
		    </div>
		    <div class="app-title">
		   		rTab
		    </div>
		    <div class="app-description">
		   		Who owes who what for what. Idea by <a href="https://twitter.com/WingertAndrew">@WingertAndrew</a>, <a href="https://twitter.com/samwebbexists">@samwebbexists</a>, <a href="https://twitter.com/nathaniel_glass">@nathaniel_glass</a>. 
		    </div>
		</div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for rTab came from Andrew, Sam, and Nathaniel. These guys travel together a lot and are frequently keeping tabs on who owes who what for what. Here's the original submission:
				<br>
				<br>
				<blockquote> 
					<i>
						<p>App that allows you to keep track of the costs of social event when everyone isn't paying for themselves.</p> 
						<p>When you close the event it will text everyone in your group what everyone owes and add your Square Cash $Cashtag to make closing the tab as simple as possible.</p> 
					</i>
				</blockquote>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/WingertAndrew">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/andrew_wingert.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Andrew Wingert</b></h4>
				    <h5><a href="https://twitter.com/WingertAndrew">@WingertAndrew</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/samwebbexists">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/sam_webb.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Sam Webb</b></h4>
				    <h5><a href="https://twitter.com/samwebbexists">@samwebbexists</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/nathaniel_glass">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/nathaniel_glass.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Nathaniel Glass</b></h4>
				    <h5><a href="https://twitter.com/nathaniel_glass">@nathaniel_glass</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
			<div class="question">
				Links
			</div>
			<div class="answer">
				<a href="https://itunes.apple.com/us/app/rtab-split-expense-tracker/id1031142816?mt=8">App Store</a>
			</div>
			<div class="answer">
				<a href="https://github.com/NapknApps/rTab">Code on Github</a>  
			</div>
			<div class="answer">
				<a href="http://www.producthunt.com/tech/rtab" style="margin-right: 10px;">Product Hunt</a> 
			</div>
			<div class="answer">
				<a href="/posts/creating_rtab">Creating "rTab" #NapknAppWeek5</a>
			</div>




		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek5" data-widget-id="630934533014208512">#NapknAppWeek5 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
