<nav class="navbar navbar-default" style="background-color: #c672fd; border-color: #c672fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #c672fd;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-icon-holder">
		    </div>
		    <div class="app-title">
		   		Sweet Nothings
		    </div>
		    <div class="app-description">
		   		It's the little things. Idea by <a href="https://twitter.com/brownrygg">@brownrygg</a>.
		    </div>
		</div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
			<div class="question">
				Idea
			</div>
			<div class="answer">
				The idea for Sweet Nothings came from Brownrygg Woolls. Brownrygg wanted a way to remember the things that made his wife feel extra loved and thought of. Here's the original pitch:
				<br>
				<br>
				<blockquote> 
					<i>
						<p>An app that helps me remember things to make my significant other feel loved.</p> 
					</i>
				</blockquote>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-sm-6">
			<div class="question">
				Team
			</div>
			<div class="answer">
				<div class="media">
				  <div class="media-left">
				    <a href="https://twitter.com/brownrygg">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/brownrygg_woolls.png" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Brownrygg Woolls</b></h4>
				    <h5><a href="https://twitter.com/brownrygg">@brownrygg</a></h5>
				    <h5>Idea, Testing</h5>
				  </div>
				</div>
				<br>
				<div class="media">
				  <div class="media-left">
				    <a href="http://twitter.com/zachwhelchel">
				      <img class="media-object" style="border-radius: 60px;" src="/assets/zach_whelchel.jpeg" alt="" height="120" width="120">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><b>Zach Whelchel</b></h4>
				    <h5><a href="http://twitter.com/zachwhelchel">@zachwhelchel</a></h5>
				    <h5>Development, Design</h5>
				  </div>
				</div>
			</div>
		</div>
  	<div class="col-sm-1">
		</div>
    <div class="col-sm-5">
			<div class="question">
				Feed
			</div>
			<div class="answer">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/NapknAppWeek6" data-widget-id="633478607675920385">#NapknAppWeek6 Tweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
