<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Calling All App Makers
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 24th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>Napkn's goal is to bring the best developers/designers/makers together each week to create someone's app idea. To get things started we've had a single developer create all of the apps... and now... (drum roll please)... we are excited to open the platform to other makers!</p>
			</div>
			<div class="question" style="margin-top: 60px">
				The Pitch
			</div>
			<div class="answer">
				<p>Are you a designer or developer? Here's our pitch to you. Pick up a side project for a week. Collaborate with someone new and build a great MVP. Sharpen your skills. Show off what you can do. Share your experience in real time and get feedback from Napkn's audience. Give back with your awesome maker skills and make some new friends along the way.</p> 
				<div class="block-image">
					<img src="/assets/calling_all_app_makers_1.jpg" alt="" height="auto" width="60%"/>
				</div>

			</div>
			<div class="question" style="margin-top: 60px">
				Lets Do This
			</div>
			<div class="answer">
				<p>Ready to bring someone's idea to life? Send us your Twitter handle and a link to something cool you've made here: <a href="mailto:admin@napkn.io">admin@napkn.io</a>.</p>		
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
