<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Creating "NoMoJo" #NapknAppWeek2
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/ericlevans">Eric Evans</a>, August 17th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p><a href="/apps/nomojo">NoMoJo</a> came from my (Eric's) firm belief that habits can only be started when the initial victories take as little effort as possible.</p>  
			</div>
			<div class="question" style="margin-top: 60px">
				Idea (Eric)
			</div>
			<div class="answer">
				<p>I believe that the only way to understand personal progress and reach personal goals is to track and measure yourself. I've also found that a lot can come from small bits of information gathered across a long period of time.</p> 
				<p>Currently I'm in a busy phase of life. I wanted to start journaling to track how I feel professionally, relationally, spiritually, etc. I found though that picking up the habit is hard. So I came up with the idea for NoMoJo; the "no motivation needed" journal. The goal is to spend 30 seconds each night to record the highlights and emotions of the day.</p>
				<p>Below are some tweets from the start of the week. I was getting excited about the introspectiveness and Zach was gearing up with some initial sketches:</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">You&#39;ll be able to start your bio easily after <a href="https://twitter.com/hashtag/NapknAppWeek2?src=hash">#NapknAppWeek2</a>! <a href="https://twitter.com/hashtag/LibraryOfCongress?src=hash">#LibraryOfCongress</a> <a href="https://twitter.com/NapknApps">@NapknApps</a> <a href="http://t.co/DI0qvw3Mx4">pic.twitter.com/DI0qvw3Mx4</a></p>&mdash; Eric Evans (@ericlevans) <a href="https://twitter.com/ericlevans/status/620740058388140032">July 13, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Initial sketches for <a href="https://twitter.com/hashtag/NapknAppWeek2?src=hash">#NapknAppWeek2</a>. Building a low motivation needed journal so automation is key. 30 secs a day. <a href="http://t.co/cixg6HXEZb">pic.twitter.com/cixg6HXEZb</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/621353944321818624">July 15, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Decisions (Zach)
			</div>
			<div class="answer">
				<p>We decided to keep the feature set to a minimum. We agreed on a mixture of the following: basic journal app + charachter limit + auto-emotions. I had just seen <a href="http://www.rottentomatoes.com/m/inside_out_2015/">Inside Out</a> so, naturally, we spent a day considering using a more full range of emotions (even basing them off of the characters in the film), but decided three emotions would be more pheasable.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Considering simple emotion guessing from transcribed journal entry. Crazy? Cool? <a href="https://twitter.com/ericlevans">@ericlevans</a> 😀😅😉😍😜😡 <a href="https://twitter.com/hashtag/NapknAppWeek2?src=hash">#NapknAppWeek2</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/621104673349595136">July 14, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Intentional Constraints (Zach)
			</div>
			<div class="answer">
				<p>This project brought up an interesting question for me. Usually technology is about introducing more functionality in our lives. Use this because it enables you to do x, y, or z. Recently, however, we've seen success around ideas that constrain functionality. Think of messaging. For years now we've been able to send a friend a photo. But now, we send a photo and... it dissapears. Its less useful on the surface, but the constraint introduces something new. Constraints can encourage a behavior or foster creativity.</p> 
				<p>In NoMoJo we decided to constrain the user to a certain characther limit in order to lower the friction of getting started. The app, then, succedes even if you become frustrated with it and decide to upgrade to full scale journalling. That's pretty cool.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">This app is simple... but interesting. The goal is to eventually feel limited and want to upgrade to real journaling. <a href="https://twitter.com/hashtag/NapknAppWeek2?src=hash">#NapknAppWeek2</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/622589813204586496">July 19, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Pivot (Eric)
			</div>
			<div class="answer">
				<p>The origional goal was to record your thoughts via dictation. This proved to be not possible as Siri is locked to the OS only. We had to pivot to text entry with a characther limit. Not too bad, but a pivot none-the-less.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/ericlevans">@ericlevans</a> we might need to pivot to a char limit and text input... looks like speech to text is locked to Siri. <a href="http://t.co/j4J58VqR5P">pic.twitter.com/j4J58VqR5P</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/621388993570148352">July 15, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Development (Zach)
			</div>
			<div class="answer">
				<p>We used Firebase's <a href="https://github.com/firebase/FirebaseUI-iOS">FirebaseUI-iOS</a> library to bind the table view to a Firebase reference. This made data updates super quick and easy to implement. More importantly it allowed us to spend extra time on the unique parts of the code.</p>
				<p>Here's a look at the emotion-guessing engine in action. It simply scans the text and tallies the count of words percieved to be positive or negative. It even looks for inverses i.e. "great" and "not great."</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">NoMoJo now guesses your overall emotion by scanning your daily journal entry. <a href="https://twitter.com/hashtag/NapknAppWeek2?src=hash">#NapknAppWeek2</a> <a href="http://t.co/9t2JxqqRiL">pic.twitter.com/9t2JxqqRiL</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/622781697709469698">July 19, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Links
			</div>
			<div class="answer">
				<p>"NoMoJo" is a great way to start the habit of journaling. Check it out on the App Store.</p> 
				<a class="btn action-btn" role="button" href="https://itunes.apple.com/us/app/nomojo/id1021160449?mt=8" style="margin-right: 10px;">App Store</a>
				<br>
				<br>
				<p>Want to join the conversation? Talk to the makers? Join us on Product Hunt.</p>
				<a class="btn action-btn" role="button" href="http://www.producthunt.com/tech/nomojo" style="margin-right: 10px;">Product Hunt</a>
				<br>
				<br>
				<p>Have an idea for an awesome app? Submit it.</p>
				<a href="mailto:idea@napkn.io" class="btn action-btn" role="button">Submit your app idea</a>
				<br>
				<br>
				<p>Are you an app maker? Join us for a week to build a great MVP.</p>	
				<a class="btn action-btn" role="button" href="/posts/calling_all_app_makers" style="margin-right: 10px;">Calling All App Makers</a>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
