<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Creating "Roll Out" #NapknAppWeek4
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/brentholuta">Brent Holuta</a>, August 12th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p><a href="/apps/roll_out">Roll Out</a> was born from the desire to become an “early riser." I (Brent) read an article that outlined successful entrepreneurs’ morning routines, and a common denominator among them is rising before the sun.</p>  
			</div>
			<div class="question" style="margin-top: 60px">
				Idea (Brent)
			</div>
			<div class="answer">
				<p>If you’re like me, when you set your alarm in the evening, you’re feeling optimistic and confident. "5:30? No problem, I’ve got this. It will be such a great start to the day!” But by the time 5:30 rolls around, my optimism has vanished, resulting in groggily slapping the snooze button. Repeat until late for work.</p> 
				<p>I had just read The Art of Strategy, a book about Game Theory, when we were sketching Roll Out, and this shaped the idea of removing options and introducing “public shaming."  In the book, they discuss Cortés and his famous tactic of burning his ships. Upon arrival in Mexico, he ordered his ships to be destroyed to prevent retreat, ensuring that his soldiers would score victory over the Aztecs, or die trying. Retreat was no longer an option. Victory ensued.</p> 
				<p>With this in mind, we decided to eliminate options by removing the snooze button. If you want to shut off your alarm, you have to get up and scan the barcode on your shampoo. That’s your only option. If you fail, your Twitter followers will know about it.</p> 
			</div>
			<div class="question" style="margin-top: 60px">
				Decisions (Zach)
			</div>
			<div class="answer">
				<p>Building a solid MVP in a week is all about focus. There were many avenues towards potential complexity we had to avoid in order to pull the project off. Initially we considered group interaction, leaderboards with friends, etc. These features brought too much friction to on-boarding. We came up with this motto and ran with it as a simple guide:</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Motto for <a href="https://twitter.com/hashtag/NapknAppWeek4?src=hash">#NapknAppWeek4</a>... thoughts <a href="https://twitter.com/brentholuta">@brentholuta</a>? <a href="http://t.co/xubf4H2fNk">pic.twitter.com/xubf4H2fNk</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/627588386413481984">August 1, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Pivot (Brent)
			</div>
			<div class="answer">
				<p>How do you validate that someone is awake? Record steps? Well... no... people could just shake the phone. Record location? Well... um... GPS isn't too great indoors. We decided to have users prove their awakeness by scanning thier toothpaste. Great idea right? We thought so too... until the last minute when we realized toothpaste tubes don't always have barcodes. So we had to "pivot" to scanning shampoo instead. Not a big change, but we got lucky that shampoo came in strong for us.</p>		
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/ZachWhelchel">@ZachWhelchel</a> <a href="https://twitter.com/herbalessences">@herbalessences</a> tousle me softly for the win! <a href="https://twitter.com/hashtag/NapknAppWeek4?src=hash">#NapknAppWeek4</a> <a href="http://t.co/cM3SuEL0vU">pic.twitter.com/cM3SuEL0vU</a></p>&mdash; Brent Holuta (@brentholuta) <a href="https://twitter.com/brentholuta/status/628034796804046848">August 3, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Development (Zach)
			</div>
			<div class="answer">
				<p>iOS limits what functions can run in the background. Creating an alarm that fires when the phone is locked is trickier than you'd think. We found this article to be really helpful in solving this issue: <a href="http://oleb.net/blog/2014/02/alarm-clock-apps-ios/">http://oleb.net/blog/2014/02/alarm-clock-apps-ios/</a></p>	
				<p>We wanted the UI to be simple, but fun. Setting an alarm should be rewarding visually. So we came up with this custom view that animated the time of day from the previous time set:</p>	
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Some initial animation for <a href="https://twitter.com/hashtag/NapknAppWeek4?src=hash">#NapknAppWeek4</a> <a href="https://twitter.com/hashtag/RollOut?src=hash">#RollOut</a> <a href="http://t.co/WLISGETGN4">pic.twitter.com/WLISGETGN4</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/627629510691831808">August 1, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>We also decided to put a lot of this week's effort into the intro. Explaining the value of a simple tool is really important. We started with this sketch:</p>	
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Intro animation/explanation for <a href="https://twitter.com/hashtag/NapknAppWeek4?src=hash">#NapknAppWeek4</a> <a href="http://t.co/ThdBm1HdrE">pic.twitter.com/ThdBm1HdrE</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/627597447984975872">August 1, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>And ended up with this:</p>	
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Into for &quot;Roll Out&quot; <a href="https://twitter.com/hashtag/NapknAppWeek4?src=hash">#NapknAppWeek4</a> <a href="http://t.co/wT0IpmUPPb">pic.twitter.com/wT0IpmUPPb</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/628037551715151873">August 3, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Links
			</div>
			<div class="answer">
				<p>"Roll Out" turned out to be a great little app to solve a real problem. Interested in upping your wake up game? Check out "Roll Out" on the App Store.</p> 
				<a class="btn action-btn" role="button" href="/posts/calling_all_app_makers" style="margin-right: 10px;">App Store</a>
				<br>
				<br>
				<p>Want to join the conversation? Talk to the makers? Join us on Product Hunt.</p>
				<a class="btn action-btn" role="button" href="/posts/calling_all_app_makers" style="margin-right: 10px;">Product Hunt</a>
				<br>
				<br>
				<p>Have an idea for an awesome app? Submit it.</p>
				<a href="mailto:idea@napkn.io" class="btn action-btn" role="button">Submit your app idea</a>
				<br>
				<br>
				<p>Are you an app maker? Join us for a week to build a great MVP.</p>	
				<a class="btn action-btn" role="button" href="/posts/calling_all_app_makers" style="margin-right: 10px;">Calling All App Makers</a>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
