<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Creating "Roll Out" #NapknAppWeek4
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/brentholuta">Brent Holuta</a>, August 12th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>Roll Out was born out of the desire to become an “early riser”… I (Brent) read an article that outlined successful entrepreneurs’ morning routines, and a common denominator among them is rising before the sun.</p>  
			</div>
			<div class="question" style="margin-top: 60px">
				Idea (Brent)
			</div>
			<div class="answer">
				<p>If you’re like me, when you set your alarm in the evening, you’re feeling optimistic and confident. "5:30? No problem, I’ve got this. It will be such a great start to the day!” But by the time 5:30 rolls around, my optimism has vanished, resulting in groggily slapping the snooze button. Repeat until late for work.</p> 
				<p>I had just read The Art of Strategy, a book about Game Theory, when we were sketching Roll Out, and this shaped the idea of removing options and introducing “public shaming”.  In the book, they discuss Cortés and famous tactic of burning his ships. Upon arrival in Mexico, he ordered his ships to be destroyed to prevent retreat, ensuring that his soldiers would score victory over the Aztecs, or die trying. Retreat was no longer an option. Victory ensued.</p> 
				<p>With this in mind, we decided to eliminate an option by removing the snooze button. If you want to shut off your alarm, you have to get up and scan your shampoo. That’s your only option. If you fail, your Twitter followers will know about it.</p> 
			</div>
			<div class="question" style="margin-top: 60px">
				Decisions (Zach)
			</div>
			<div class="answer">
				<p>Building a solid MVP in a week is all about focus. There we’re many avenues towards potential complexity we had to avoid in order to pull the project off. Initially we considered group interaction, leaderboards w/ friends, etc. These features brought to much friction to on-boarding. We came up with this motto and ran with it as a simple guide:</p>		
				<div class="block-image">
				</div>
			</div>
			<div class="question" style="margin-top: 60px">
				Pivot (Brent)
			</div>
			<div class="answer">
				<p>We planed on scanning toothpaste, great way to tell if awake. Last min realized toothpaste bottles don’t have barcodes… so… Toothpaste -> Shampoo</p>		
				<div class="block-image">
				</div>
			</div>
			<div class="question" style="margin-top: 60px">
				Development (Zach)
			</div>
			<div class="answer">
				<p>iOS limits what functions can run in the background. We found this article to really helpful -> http://oleb.net/blog/2014/02/alarm-clock-apps-ios/</p>	
				<p>We wanted the UI to be simple, but fun. Setting an alarm should be rewarding visually. So we came up with this custom view that animated the time of day from the previous time set:</p>	
				<div class="block-image">
				</div>
				<p>We also decided to put a lot of this weeks effort into the intro. Explaining the value of a simple tool is really important. We started with this sketch:</p>	
				<div class="block-image">
				</div>
				<p>And ended up with this:</p>	
				<div class="block-image">
				</div>
			</div>
			<div class="question" style="margin-top: 60px">
				App Store
			</div>
			<div class="answer">
				<p>We’re excited that Roll Out is now live on the App Store! Check it out here:</p>	
				<p>Join the conversation on Product Hunt.</p>		
				<p>Have an idea? Submit it. Are you an app maker? Join us for a week to build a great MVP.</p>			
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
