<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Creating "Envoyer" #NapknAppWeek3
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/rtseidel">Taylor Seidel</a>, September 4th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p><a href="/apps/envoyer">Envoyer</a> came from my (Taylor's) desire to recreate the excitement of writing and receiving letters. Today’s messages are always instant… let's bring back the anticipation.</p>
			</div>
			<div class="question" style="margin-top: 60px">
				Idea (Taylor)
			</div>
			<div class="answer">
				<p>I wanted to create an app that restores some of the excitement and romance to the standard messaging app. By definition, all of the messaging apps out there share everything instantly and save your whole conversation forever unless you delete it. Most apps will even share exactly when you are typing! When you can see everything at once, there are no surprises!</p>
				<p>We are fortunate to have the technology that we no longer have to rely on letters and the post office to communicate over long distances, but we've lost a lot in the process. The delight in crafting a really excellent letter; the touch of sealing it and posting it; sending it out into the world; the anticipation of waiting for a letter to arrive; and the excitement and pleasure of finally opening a friend's letter. Letter writing, from friends passing notes in class to lovers writing across great distances, is a dying art form.</p>
				<p>With Envoyer, you are able to send not only messages but the whole “collection of letters” back and forth. Like dropping the letter back in the mail, the chain disappears from the user's phone until the receiver responds.</p>
				<p>Enjoyer won’t replace email, group messaging, or text, but we thought there was an audience who would enjoy communicating with their friends and significant others in a less business-like, more whimsical way. So we created Envoyer.</p>
			</div>
			<div class="question" style="margin-top: 60px">
				Skeuomorphism (Zach)
			</div>
			<div class="answer">
				<p>Skeuomorphism as a standard design style is dead. But is there still a place for it? Rarely? Especially in contexts that are meant to replicate “old school” actions?</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Skeuomorphism is out, agreed. But is there a time/place for it? Especially when capturing old activity like letter writing? <a href="https://twitter.com/hashtag/NapknAppWeek3?src=hash">#NapknAppWeek3</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/623214341458948096">July 20, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>I wanted to explore both routes initially and get some feedback from the community. I posted two directions for design and the people decided.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Initial sketches for <a href="https://twitter.com/hashtag/NapknAppWeek3?src=hash">#NapknAppWeek3</a>. Skeuomorphism vs. Clean. Thoughts? <a href="http://t.co/sxEfU9pLnO">pic.twitter.com/sxEfU9pLnO</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/623214751481470976">July 20, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<blockquote class="twitter-tweet tw-align-center" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/ZachWhelchel">@ZachWhelchel</a> <a href="https://twitter.com/NapknApps">@NapknApps</a> clean looks better to me</p>&mdash; Rafael F. Silva (@rfsbsb) <a href="https://twitter.com/rfsbsb/status/623218073005387776">July 20, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<blockquote class="twitter-tweet tw-align-center" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/ZachWhelchel">@ZachWhelchel</a> <a href="https://twitter.com/NapknApps">@NapknApps</a> Clean all the way</p>&mdash; Troy Rizzo (@troyrizzo) <a href="https://twitter.com/troyrizzo/status/623372419374317568">July 21, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<blockquote class="twitter-tweet tw-align-center" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/troyrizzo">@troyrizzo</a> <a href="https://twitter.com/ZachWhelchel">@ZachWhelchel</a> the people have spoken. Clean it is. New mockups coming soon.</p>&mdash; Napkn Apps (@NapknApps) <a href="https://twitter.com/NapknApps/status/623510855783723009">July 21, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Decisions (Taylor)
			</div>
			<div class="answer">
				<p>The decisions we made revolved around how feature rich we wanted our messaging process to be. Interestingly enough we found that the more we stripped the more the app felt "like mail." We decided to nix push notifications, for example, so that you had to “go check the mail.” We also initially toyed around with the idea of letters being sent at variable speeds based on the user’s distance to the recipient.</p> 
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Decisions that need to be made for <a href="https://twitter.com/hashtag/NapknAppWeek3?src=hash">#NapknAppWeek3</a>. Leaning towards the whole right column. Thoughts <a href="https://twitter.com/rtseidel">@rtseidel</a>? <a href="https://twitter.com/hashtag/MVP?src=hash">#MVP</a> <a href="http://t.co/2dCnuAEkE4">pic.twitter.com/2dCnuAEkE4</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/624265229912932353">July 23, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Development (Zach)
			</div>
			<div class="answer">
				<p>We spent a lot of time on unique UI interactions. We created a custom “letter stack” cell that visually showed the letters you had sent back and forth with a friend. The goal was to make the simple process visually rewarding. The more letters you sent the fuller the experience felt. Letter’s also fanned open so that you could review past “threads."</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Letter stack open and close animations, thoughts? <a href="https://twitter.com/hashtag/NapknAppWeek3?src=hash">#NapknAppWeek3</a> <a href="http://t.co/jQ4wK32ba8">pic.twitter.com/jQ4wK32ba8</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/623578117102305280">July 21, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>The main difficulty we ran into was a fitting user account structure. We wanted to give each user an “address” at which they could be reached. We wanted this to be public, as if you knew anyone’s P.O. Box number. We thought the perfect modern equivalent would be someone’s Twitter handle. To verify handle’s we had user’s log in with Twitter. We would then save their handle and use it to send them messages. But then...</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Update on <a href="https://twitter.com/hashtag/NapknAppWeek3?src=hash">#NapknAppWeek3</a>, App Store won&#39;t accept an app that requires Twitter login w/o Twitter specific features. Resubmitting...</p>&mdash; Napkn Apps (@NapknApps) <a href="https://twitter.com/NapknApps/status/632226302498603008">August 14, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>Envoyer was rejected from the App Store for using Twitter authentication without using “Twitter specific features.” This was a pretty big bummer as the only solution was to switch to a custom username. You now need to ask a friend for their username before you can correspond with them. We thought it a bit much that Apple would regulate this, since Twitter’s terms have nothing against such a use… but conceded that as a whole the App Store is likely better off for such restrictions. Apple is mainly safeguarding from requiring users to have third party accounts for apps that don’t strictly need them. Ours was just an interesting in-between case.</p>
				<p>The finished UI was simple and clean. We trimmed my skeuomorphic desires down to only the inclusion of a script font. The rest feels rather clean and straightforward.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Thanks to <a href="https://twitter.com/_davideast">@_davideast</a>&#39;s awesome <a href="https://twitter.com/Firebase">@Firebase</a> skills we are up and running with the beta for <a href="https://twitter.com/hashtag/NapknAppWeek3?src=hash">#NapknAppWeek3</a>! <a href="http://t.co/gmPcNkUfhE">pic.twitter.com/gmPcNkUfhE</a></p>&mdash; Zach Whelchel (@ZachWhelchel) <a href="https://twitter.com/ZachWhelchel/status/625382782131253248">July 26, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="question" style="margin-top: 60px">
				Links
			</div>
			<div class="answer">
				<p>"Envoyer" is a cool way to send more thought out and anticipated messages with friends. Check it out on the App Store.</p> 
				<a class="btn action-btn" role="button" href="https://itunes.apple.com/us/app/envoyer/id1023274005?mt=8" style="margin-right: 10px;">App Store</a>
				<br>
				<br>
				<p>Want to join the conversation? Talk to the makers? Join us on Product Hunt.</p>
				<a class="btn action-btn" role="button" href="http://www.producthunt.com/tech/envoyer-2" style="margin-right: 10px;">Product Hunt</a>
				<br>
				<br>
				<p>Have an idea for an awesome app? Submit it.</p>
				<a href="mailto:idea@napkn.io" class="btn action-btn" role="button">Submit your app idea</a>
				<br>
				<br>
				<p>Are you an app maker? Join us for a week to build a great MVP.</p>	
				<a class="btn action-btn" role="button" href="/posts/calling_all_app_makers" style="margin-right: 10px;">Calling All App Makers</a>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
