<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Every Submitted App Idea
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 17th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>Since launching Napkn two weeks ago we've had a lot of great ideas submitted. We've been sharing some of them with the hashtag <a href="https://twitter.com/search?q=%23NapknAppIdea">#NapknAppIdea</a> but why not share the lot? Brace yourself... it's a long/awesome list!</p>
				<br> 
				<p>Think you've got a great idea? Submit it here: <a href="mailto:idea@napkn.io">idea@napkn.io</a>.</p>		
			</div>
			<br>
			<br>
			<br>
			<blockquote> 
				<i>
					<p>Gifts</p>
					<p>Collaboration with friends to make an idea of a birthday gift for another common friend.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Get an alert or notification when your Macbook's battery is below a certain %</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>There are several PAID (expensive) attendance apps out there, but none that are free and solve a basic need:</p>
					<ul>
						<li>Track attendance for a class/service/meeting by simply checking off a list of people in the database</li>
						<li>Share a report weekly, monthly, etc (via email, share sheet, etc)</li>
						<li>Setup recurring events for attendance</li>
						<li>Be syncable/viewable across multiple users/devices</li>
						<li>Offline capability would be a plus</li>
					</ul>
					<p>That's all, I would think there would be many good options out there, but there's not. If you could do this it would be huge for us!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Updating profile pictures across all apps we use today is tedious and dreadful.</p>
					<p>Idea: One standalone application which has permission to select and push the profile picture of choice across all apps connected. A Mobile app that allows one to  do not only push one picture to all apps but select and edit profile picture allowing different profile picture management for different apps.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>FourSquare for Open Source datasets</p>
					<p>There's a lack of open source places data online, it's monopolized mostly by Google and Foursquare. OpenStreetMaps, WikiData, and Geonames are the open source alternatives that are mostly incomplete in comparison. Since there are more complete alternatives, nobody is gonna use them, thus nobody is going to update them.</p>
					<p>I purpose an app that would be similar to foursquare in the search, check-in feature, except it would streamline & modernize the process of adding places, data, etc to OpenStreetMaps or wikidata directly.</p>
					<p>Waze started out as an open source project, with private data. They leveraged the open source community for their own profit. I'm imagining doing something similar, but entirely open.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Tinder for friends</p>
					<p>Being able to have an app that I can use to easily meet friends would be awesome!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Contest App</p>
					<p>An app that let's you make a public random contest. You insert a list of participants (it could have an importing tool tough) and it gets you a winner randomly (in need it could have some letters blurred, just in case privacy is required). It also lets you share a public contest link so anyone can enter and check how many participants it had and the winner's name (a public record of the contest). And allowing Twitter/Instagram/something else sign in would be huge for brands.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>It’s a Democratic Jukebox!</p>
					<p>The idea is that everyone in the audience bar/party can submit a vote on the next song to be played.</p>
					<p>Fill the screen with the next suggestion or multiple suggestion swipe right or left to submit your vote.</p>
					<p>Submit your own song to be voted on. Earn reputation to move up in the line.</p>
					<p>The music is drive by the crowd.</p>
					<p>“Jukebox” - Vote for the life of the party.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Tinderr</p>
					<p>Like Tinder in terms of swiping, but for firewood. Idea by @johnbhartley</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>I call it who delivers. It would be an app that you can use when you are at home or not. You pull it up and it will show you who delivers food to your address.</p>
					<p>I would find this very helpful if I am traveling to a new area and want to see what is available.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Toilet finder</p>
					<p>Finding a toilet when you’re a tourist in a new city is not easy. If we can somehow map all this and provide information like whether they are for guests only or for public use, it can be pretty useful.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Confusion -- "sounds good, thanks!"</p>
					<p>Tap button and Confusion app finds an email you forgot to answer from 10 yrs ago. It replies "sounds good, thanks!" The game is called Confusion and you won.</p>
					<p>Inspired by: https://twitter.com/averymonsen/status/615934596178313217</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Dating based of sense of humour</p>
					<p>I want to match people basing on what makes them laugh. Tinder is based on photos and descriptions- and yes, it's a great app. But God! I've been on so many awkward dated just because somebody was behaving like some stiff stick! Or being selfish narcissist.</p>
					<p>Let's match people on what makes them laught - sense of humour shows a lot about us, if we have distance to ourselves or what topics are close to us.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>It's a messenger with your past self. you just draft a msg, send it to your future self, receive it when it's time, talk back as if you were talking  to another person.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>App to monitor Power consumption</p>
					<p>I have an idea for an app for my product that needs to monitor electricity usage of items plugged into the my peripheral device. I also want the option to switch off anything plugged into the device remotely thereby saving electricity usage.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>BookStore App</p>
					<p>The Need : Book store customer who use their phone calculator will no longer have to manually add prices to get total amount of books they buying, instead using QR code scanner that is integrated in every android phone to scan bar code of the book to get the price. This will help users know how much they have to pay when they get to the till.</p>
					<p>The App needs To scan the book Barcode to get the Price of the book like tellers at the till.</p>
					<p>Users will be able to see the price after scanning the book and he/she will decide whether to add the book to the basket or remove it using the provided buttons.</p>
					<p>The App Needs to get price of the book being scanned from the book store database for accurate calculations.</p>
					<p>The app needs to keep track of books being added to the basket.</p>
					<p>Users must be able gets adverts of new books and book on sale on the store.</p>
					<p>For every books scanned their prices.</p>
					<p>When the users presses the “SHOW LIST” Button he/she will be able to remove unwanted or expensive book if he/she does not have enough money and be able scroll up and down to check which book to remove.</p>
					<p>“Scan book price” button should change to “Cancel” in case the user does not want to add the currently scanned book to basket list.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Gps messaging app.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Serious App idea - It Follows, the game</p>
					<p>Idea - make a mobile game based on the concept introduced in the film, It Follows</p>
					<p>Imagine that the app basically starts tracking you when you open it, and follows you using map directions. As soon as it it close enough to you, for example, 30 yards, your phone starts to buzz / countdown to warn you of the danger. It gets closer and closer until you leave the zone where the chase resumes. I think the appeal of this game is based on a) fear and b) simplicity</p>
					<ul>
						<li>Leaderboards are a given - points are scored by how long you live. You can become safe if you share it with a friend.</li>
						<li>Inapp purchases can buy you more time to escape</li>
						<li>Instant virality- share it with a friend to buy you more time, and you can get "cured" and prestige if your friends passed it along and you become “safe”</li>
					</ul>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>OOGO</p>
					<p>Imagine never stopping to get gas into your car again. Maybe you are going to a party right after work and won’t have time to fill up, or want to pick up groceries to go home and cook, but will miss you favourite TV show to watch while eating. :(</p>
					<p>Well the solution for that is OOGO, a gas delivering service which only requires you to pin point your car’s location on the app and leave the gas flap  open. The rest is magic. The whole process is hassle-less and cashless.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>an update tracker for the web</p>
					<p>What about an app that checks a website frequently for updates and changes and notifies you if something happened on it? I know that there are services like that on the web too, but I've never seen this as an app. It would be great if there also was a widget to place on your homescreen next to your app shortcuts.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>City level AR tic tac toe</p>
					<p>The game (or the app) would open up the device camera and detect 3*3, 4*4 or 5*5 grids. Once detected, a photograph would be captured and users can play tic tac toe on it. This gets geo tagged. Others can challenge the creator or the winner (kind) of the spot.</p>
					<p>There are two things a user is doing:</p>
					<p>1. Play tic tac toe</p>
					<p>2. Find interesting grids</p>
					<p>This would be a very neat intersection of virtual and real world.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Tell Your Dream - TYD</p>
					<p>An app that you can tell it your dream and set a due time or deadline for it ,such 10 years next, this app request your social account or your email or your phone and then 10 years later back you, your dreams.</p>
					<p>Get the dreams around the world, and show similar dreams on the world map, who people have dreams as like as you.</p>
					<p>You can:</p>
					<ul>
						<li>write your dreams</li>
						<li>set due time</li>
						<li>see similar wishes around the world</li>
					</ul>
					<p>it can be extended. an app base on your dreams.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Shopping barcode calculator</p>
					<p>I usually shop to many store and not to have attention with the each price of items im buying. Could you built and app with features as below:</p>
					<ol>
						<li>Can create a new store with description of store name and location</li>
						<li>Can create a date and time when shop</li>
						<li>Can read the barcode of shop items</li>
						<li>Can put the price after barcoding</li>
						<li>Can calculate all items when finish shopping. Quantity of items and price</li>
					</ol>
					<p>How it work</p>
					<p>Go to store, create new store name, create date n time, barcoding the item, put the price of item after barcoding, put quantity then calculate automatically. After finish, apps calculate the total of shopping price.</p>
					<p>Purpose</p>
					<p>We can compare the total items and price when we shop at the store. Is it same or not with the bills</p>
					<p>Thats all thanks</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>I was thinkink about an app for french political ideas, like "do you want Greece leave euro zone?" : Yes/no or "do you want Sarkozy back for 2017?": Yes/no</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Dlrow</p>
					<p>Dlrow ("world" backwards) shows you the other side of the world (a pic or the the coordinates) from you actual location on your mobile phone.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>TechTalk.io</p>
					<p>Browse and watch any tech talk from a conference or company on youtube or vimeo.</p>
					<p>Organized by conference, company, community, etc. Filter by programming language or search by term. Follow a conference, a community, or another user to get notified when they post new videos.</p>
					<p>Users can upvote good videos and leave comments integrated with the youtube or vimeo comments.</p>
					<p>Similar to StackExchange, you could gain levels for watching, contributing, and sharing to be recognized as an influencer in the TechTalk.io community.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>A weather app unlike any other weather apps.</p>
					<p>The current weather apps tell me (for example) that it's 60 degrees outside and 32 mph winds. That doesn't say anything to me and I can't really use it for my very basic need - what and how much to wear.</p>
					<p>I want a weather app that tells me something like this - "It's pretty hot today compared to yesterday" or "If you thought yesterday was raining, today is going to be much worse" or "Wear an extra layer of clothing compared to what you wore yesterday". Better yet - let me say if I'm usually cold or hot and then tell me how many layers I should be wearing based on the type of person I am.</p>
					<p>I remember what it was like yesterday and what I wore and if I was cold or hot. I don't remember what it was like last time it was 60 degrees and I have no real need for the wind speed or how much humidity percentage there will be.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>RE-PAIR</p>
					<p>A one button connect to re-pair your bluetooth device</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>MONOpod</p>
					<p>App that lets you channel ALL sound into one earpiece for when your biking / driving / need a ear to hear the world.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Take photo reminder</p>
					<p>In the moment ,I always forget to take photos when I go places or do things and later end up regretting that I forgot.</p>
					<p>This app would allow you to set reminders by time to take a photo of the moment you're in( bday party, sightseeing, etc)</p>
					<p>You could also set up auto reminder by location. IE- Anytime I'm not in xyz location(s) (home,work, a radius to my home, etc) remind me I might want to photograph the moment.</p>
					<p>Other features could follow, but this is the core/MVP.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Simple Colors</p>
					<p>Background… I was a stay at home dad for 2 years before swapping roles with the wife once our 3rd child was inbound.  During that time I spent a lot of time working with my little people learning colors and letters.  Used the iPad as much as I was able but there was never an app with JUST COLORS.  I could find anything else.  Colors with images (RED has an apple on the screen)… Colors with narration… Colors with this… colors with that… </p>
					<p>No good!</p>
					<p>I’m no child psych or development muckity muck… I’m a simple man, Jennie.  But I do know what distractions are.  All I wanted was…</p>
					<p>An app that once launched goes full screen with a primary color.  Swipe in any direction and get another random color.  Full screen… nothing else.</p>
					<p>I noticed with all the apps I was trying my kids were focusing on anything the app offered and not the color we were trying to learn.  Tossed the iPad and went to craft paper sheets and we nailed our colors down in no time.  Additionally: There ought to be a primary colors version and a secondary colors version… but someone has gotta build them!  I got more children in the works!</p>
					<p>Sounds simple, I know.  But simple is as simple does.  Keeping it simple takes effort.  Cram it full of stuff… that is the road we all tend to run.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Decision-Making app</p>
					<p>http://www.heavyhand.co/sayso-app/</p>
					<p>came up with this a few years back. would be awesome to see it come to life.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Can you make an app in iOS supporting WebRTC for Audio Video streaming.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Soundbite</p>
					<p>An app for composing and sharing audio snippets from podcasts, videos, friends, life and the world around you (IRL).</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>uCaffeine</p>
					<p>uCaffeine is a free "caffeine-in-coffee" counter, which also builds personal consumption history. (It could also be extended by adding soft drinks, tea, cocoa/chocolate, and other foods containing caffeine.)</p>
					<p>The idea is to provide an easy to use tool to measure one’s daily and cumulative caffeine intake - also to flash warnings when the usafe level (400-600 mg/day for healthy adults) is reached.</p>
					<p>The design spec and screen mockup files are attached for your review and use. Please note that we initially designed it to drive traffic to our website, Caffex.com, as a viral marketing tool for our CaffeinAll non-bitter caffeine shaker. (This spec does not include flash warnings, but they should be added!)</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Stop Lights</p>
					<p>I hate stoplights, and you probably do too. Yes they save lives, yes they keep us organized on the road, but they need a major facelift. Stoplight technology is moving too slow for our growing needs and time constraints. We need a unified voice to make small, potent changes. We need an app with the power to make change.</p>
					<p>By using the accelerometer and gps capabilities in our phones, we can log where we stop during our trips, and how long we are stopped at each location. If there is a problem or inefficiency with a light, we can use the app to report a problem to our local municipalities. So the user would launch the app, start his or her trip, and have it running in the background. If stuck at a light, he or she could flag that location to remember what to file a complaint about after the trip.</p>
					<p>Complaints can range from:</p>
					<ul>
						<li>Stagnant green (green light for nobody)</li>
						<li>Stagnant red (all lights stay red for too long before allowing traffic to flow again)</li>
						<li>Dangerous yellow (too short of a light, yellow too fast)</li>
						<li>Skipped light (missed your rotation because of sensor/camera issues)</li>
						<li>Stuck green (when lights aren't working together to get cars out of an area, leaving a line of cars waiting at a green light)</li>
						<li>Or more</li>
					</ul>
					<p>With enough complaints, fixes can potentially be streamlined or brought to the forefront. </p>
					<p>We could also use the app to allow communities to come together to raise funds to make their own upgrades to their stoplight systems. This could include: </p>
					<ul>
						<li>Light upgrades to new high tech stoplights</li>
						<li>Camera addition for flow regulation</li>
						<li>Crosswalk upgrades for the blind</li>
						<li>Solar panels to offset the energy consumption</li>
					</ul>
					<p>I think it's a potent approach to solving small but important problems in our daily lives. Let's put power in people's hands and take back time we will certainly loose otherwise.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>app to call emergency services</p>
					<p>I have young kids who (think 2, 6, 8) who don't have a phone of their own, but can use mine.</p>
					<p>I would like an app that does one thing (well, one thing, in two different ways)</p>
					<p>here's the idea:</p>
					<p>an app which when opened dials the number for emergency services (this can be set by country the device is in, or by user configuration).  So in Australia it would be 112 (the number can only be called from mobile phones and gets priority answering)</p>
					<p>so i could train my kids that if there is an emergency and they needed to call for help just open this app</p>
					<p>BUT, for training purposes I want to be able to switch the app to training mode, and what this does is opens the app and starts playing an audio file as if they are talking to an emergency response person.  The script would go something like this:</p>
					<ul>
						<li>"hello, emergency services, how can I help?"</li>
						<li>pause</li>
						<li>"Where are you?'</li>
						<li>pause</li>
						<li>"What is your name?"</li>
						<li>pause</li>
						<li>"Is anyone hurt?</li>
						<li>pause</li>
						<li>"Are you ok?" </li>
						<li>pause</li>
						<li>"Help is coming" </li>
						<li>"Can you describe what is around you?"</li>
						<li>pause</li>
					</ul>
					<p>If we wanted to get tricky we could randomise the script a bit so kids didn't always get the questions in the same order.</p>
					<p>That's it!</p>
					<p>A simple, one function app to train kids how to ring emergency services, and then to easily do it in real life if they need to!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>I have an idea called Greatful.</p>
					<p>Problem: </p>
					<p>Many well-resourced people aren't happy because they lack gratitude. Many impoverished people aren't happy because they lack resources.</p>
					<p>Solution:</p>
					<p>Version one. Users post something daily that they are "greatful" for in order to cultivate their gratitude. Users can follow their friends' and their lists. Already built a Facebook group of people sharing what they are greatful for, you can check it out here: https://www.facebook.com/groups/1582584701993478/.</p>
					<p>Version two. For every has there is a hasn't. Someone is grateful for something because they have something others do not. Our app would transfer funds between the well-resourced and the poor-resourced based off of the causes of gratitude. For example, grateful for access to clean water, app presents option to donate toward that cause.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Traffic routes app idea</p>
					<p>For my commute, I have at least 4 or 5 routes I can take, depending on traffic / time of day.  Google maps doesn't really know the fastest way because there are only a handful of intersections where traffic builds up - so the 0-20mph red is more like 1-2mph in some places and more like 30mph in others.  But Google Maps equates them all equally.  Also, Google Maps doesn't predict what traffic will be like in 20 minutes when I reach a place - it only shows now... especially around rush hour, the traffic now is significantly less than the traffic by the time I reach that point in my commute...</p>
					<p>All I want to know is which routes have traffic - then I can make the decision as to which to take.  Unfortunately, remembering to do this (and doing it) every day is a pain, and checking traffic on 5 different routes will take ~30s at a computer or ~1 minute on my phone, but I'd rather just get a notification on my Android Wear watch that tells me which routes have traffic - perhaps even in specific areas.</p>
					<p>So basically, an app that checks routes for traffic, and sends me a notification showing which ones are traffic-ridden so I can choose the best one.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>My Idea of App is for Inbound Tourism, especially for shopping.</p>
					<p>For example, you go to a town that is known as the 'tissue town'. You can arrive with your car or with a group, in a bus. Before you make the trip, you're thinking in what stores or industries are you going to visit. So the App could have:</p>
					<ul>
						<li>a MAP Geolocated with links to stores / showrooms (maybe integrated with google maps)</li>
						<li>once you touch / click the store, it opens the main products, some information regarding working hours, etc. (even a link to the website, which opens in a window)</li>
						<li>there is a button to include this store in the tour</li>
						<li>through the map could have some convenience stores, like coffee shops, bakeries, etc.</li>
						<li>the visitor can make his trip plan in advance or just keep choosing wherever he wants to go</li>
						<li>For having its data inside this system, the company should pay a monthly / annual fee</li>
						<li>Each city or neighborhood could have a person in charge of feeding / updating information.</li>
					</ul>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>The idea I tried to bring to life /but didn't have resources/ is an app for professional and amateur photographers to sell or license their photographs to businesses or other individuals. Users would pay nothing to DL the app and browse trough photos, but if they want to be a seller or a purchaser on the app they would pay a fee of 4.99$ per year for individuals, and a fee of 9.99$ per year for businesses. Applicalble fees would be 2.49% of each transaction.</p>
					<p>Users could buy keywoards via bidding /like goog adsense/ to promote their photo to top of the search results like for example #elephant. It would be great for the app to have an auto-generetor for tags. The users would be able to sign in with their FB, Twitter and Instagram accounts  to share already existing photos without having to re-upload them to the app. App could have a professional and amateur section where professional section would support wide range of photography (war photography for example, or real life pics). Community modification solution should be implemented to prevent from sale of questionable materials.  My belief is that save as, and save image as functions in browsers should be disabled to prevent content teft.</p>
					<p>Basically what I have in mind is a photo exchange that would cut agencies like Getty out of the picture and provide users the means to monetize their eyes and create extra income stream in a tough industry. The name would be something like picxchange (still working on this).</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>An app to allow businesses to validate new/existing features and incentivize their customers by showcasing 3 different options/features/etc. of existing or new service/product. People are asked to choose one option out of three (busyness gets validation) and recieves complimentary content and a discount.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Easy Recruit.</p>
					<p>Easy way to recommend your friends for a job.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>TattleTeleMarketer</p>
					<p>Phone rings with a strange # - app looks at a database of know telemarketers phone numbers, and if its on the list the caller ID shows as TELEMARKETER database can reside on phone and be updated every week or user definable.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Mindless</p>
					<p>This app im about to present you... will be a gift. A gift for anyone with a smartphone and a turbulent mind. Are you angry? Jealous? Beside yourself?</p>
					<p>Just open the Mindless app! You will be greeted by the app that will help you so many times in the future, making sure you dont do any decisions you will regret. </p>
					<p>In the press of a few buttons in which you input your state of mind, you will be asked a couple questions which will cross-check you for any emotionally charged logical faults.</p>
					<p>Once this app is downloaded, you will never regret another decision in your life!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>An app that puts your photos on-the-line.</p>
					<p>Currently there is no app in existence that allows you to take a photo, edit it, and put it on-the-line. So what if there was an app that would let you take a photo and put it instantaneously on the line?</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Selective Shuffle Music</p>
					<p>Selective would let you pick select songs/albums/artists that's preferred for playback.</p>
					<p>Radio would be similar to something like Pandora with some differences:</p>
					<p>You can use your library, specific songs/albums/artists/genres, or a streaming library (if made) combined with local.</p>
					<p>It would prefer 'Selective' shuffle songs in playback more often.</p>
					<p>Most importantly, it would work like a real radio in that you CAN'T skip, fast forward, rewind</p>
					<p>Could include news/shows though RSS podcasts you select and it plays at the top of hour/in-between songs.</p>
					<p>You would be able to see a 'schedule' of your day</p>
					<p>If you join in the middle of a scheduled song, it will start during it like a real radio.</p>
					<p>Include a system that would create your schedule in the order:</p>
					<ul>
						<li>Your preferred songs</li>
						<li>Highest-rated (thumbs up or 3-5 stars)</li>
						<li>Songs that haven't been played in a while (~3 months)</li>
						<li>New music discovery</li>
						<li>Low and not rated songs</li>
					</ul>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Jogg</p>
					<p>My idea is Tinder for joggers - in Cape Town (and a I'm sure a few other cities) it can be dangerous to run alone. Find the right running partner for YOU by swiping right or left on fellow joggers in your area - you can filter by distance, gender, road or trail running and speed (your average time for 5k, half marathon etc). Stay fitter, safer and make friends using Jogg!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>My idea for an app is an program that gives you live updates about fire alarms/evacuations/call-outs etc in close-by buildings.</p>
					<p>In the city there is constantly evacuations and fire brigade call-outs.</p>
					<p>Yesterday my work place was smoked out and evacuated and while I’m writing this, the building beside me is being evacuated!</p>
					<p>It would be amazing to be able to know which buildings in the city are being evacuated for personal safety but also peace of mind for others.</p>
					<p>I understand this isn’t an easy task; but who doesn’t love a challenge? (Says someone with 0.05% IT skills)</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Directory for vloggers</p>
					<p>We need a SKITCH for vloggers, so people can quickly find awesome content and queue it up on their smartTVs and smartphones.</p>
					<p>Skitch does this for Podcasts, but there's nothing like this for vloggers. The closest you will find is TouchCast, which is directed at ALL video content (trailers, news).</p>
					<p>When YouTube began, it was easy to find the vloggers and their monologues about comedy, political views, etc. But now YouTube is too big.</p>
					<p>An app for vloggers would help feature this lively community again. </p>
					<p>Note: it doesn't have to be a social network where new videos are upload to the service. That would hog too much server bandwidth. It just needs to be a directory of already existent YouTube / vimeo (?) links.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Un-Filter</p>
					<p>Okay so my idea is an app that can take the filter off of a picture. So like if one of your friends has a good pic of you on their Instagram or something, you can just put it in the app and it will take it right off. This might also be practical if you accidentally take a picture with a filter on. I think you might be able to do this by putting the the opposite color of the filter, so they end up having a neutral balance, which should be your original photo.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>During a long time I wanted to make a collaborative application for taking notes, which can only be used on mobile devices. For example. You want to gather with friends out in the country and there is a bunch of organizational questions to solve like buy the drinks, food, pickle the BBQ and take a good music. It's inconvenient to call everyone around, and messaging on viber is also problematic as it's unhandy to see the messaging history. You download the application, create a note and discuss it in the note chat, where you can see all the activity, tasks, and if it's necessary the attached files.</p>
					<p>This is so to say a kind of symbiosis of both viber and task messanger. The idea appeared because such a tool is often needed when someone from the family goes shopping and everyone needs to share their notes, discuss the rest, but this way you just shared a note and forgot about it. The application is different from the competitors' due to the fact that the synchronization with the contacts happens through the phone book and its phone number, which solves many of the synchronization problems that our competitors face with.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>About appliances treasure of APP</p>
					<p>ALL Dears, Hello, everyone! I want to develop an APP, millions of families to help users solve the indoor appliance repair troubles. With the development and enhance the economic level, we needed every household purchase and replacement of electrical appliances use more and more, large refrigerator, water heaters, air conditioners, washing machines, television, small like soya, electrical fan, induction cooker, electric kettle, electric pressure cookers, electric light gun replacement, our life has been inseparable from power, of course, can not do without these everyday appliances. But electrical life of its own is limited, and in the brutal competition in the market, as prices continue to be suppressed, the quality of products is slowly emerging issues. Therefore, the high cost of replacement, repair and maintenance do not know where from, has become a problem plagued many home users. If we can achieve online service quotes and home repair services, can greatly reduce the cost of household appliances, but also making it more environmentally friendly.</p>
					<p>We put all this APP is called for appliance repair appliance warranty, users download and install security appliances, you can publish your own need to repair electrical demand, given with reference to the proposal by the platform maintenance price, users can according to their actual the case raised or lowered the price of repairs, and then release. The platform with the line through electrical hardware sales outlets or appliance repair outlets will be responsible for signing, and then push, repair party can also grab one, grab one to contact after a successful on-site maintenance services, to complete the repair, and ultimately by Users confirm maintenance items, just so you can get the appropriate maintenance repair price return, and users can be evaluated score for this service.</p>
					<p>In fact pattern is not complicated, but the market size is also getting bigger, but also to hit pain points needs of users, is entirely potential also have the opportunity to do. The difficulty lies in the promotion and integration of the entire APP of maintenance resources, the current project I am the only person in the idea, like a long time, if you can provide APP development, I can be responsible for the entire project to promote and co-ordinate operations. Of course, if you think the project is not feasible, it can be expressed reservations. Look forward to your final reply, thank you!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>So every Sunday night, I have to scroll through my Guide via my cable box to figure out what actors are going to be guests on late night talk shows (Jimmy Fallon, Jimmy Kimmel, Seth Meyers, Conan, etc.).  There's no printed "TV Guide" to reference since it's not 1993 anymore (and cause Frank Costanza has all the old ones), it's a lot harder than you think to figure this out via the web (only website is here and the UI blows, or else you have to go to each individual website on a daily basis to check), and it's a lot more of a pain in the ass than you think to figure it out using the guide function via tv - who wants to scroll thru 7 days and click the remote like 50 times?</p>
					<p>I fully realize the fact that I haven't cut the cord and moved to Apple TV, Hulu, Slingbox, etc. may be crazy, but there are still people who use cable...that being said, this may help those people as well.  Hell, maybe you can even use a cable company's API to DVR directly from the app some day!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Jist</p>
					<p>an app/website that just summarizes any article or newstory</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>PRBLASTER</p>
					<p>An easy to use simplistic App that allows anyone anywhere to post simultaneously to all the PR outlets business news they want to publish.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>FB culler</p>
					<p>An app that pulls ONLY the info from your FB friends or ppl you choose to see and so you can avoid all the other promoted crap and likes and only see what people you know and want to see ie things like their personal posts.</p>
					<p>or another version is an app that provides you with two feeds- one that only shows you what your friends actually post and another feed for all the other crap</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>whos's up</p>
					<p>an app that lets you know who in your private circle of friends is up late?</p>
					<p>lots of times I'm up late and would love to talk to friends or relatives who also maybe up late too- but i don;t want to bother or wake anyone if they have already gone to bed.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>gone but not forgotten</p>
					<p>a place where ppl can create pages dedicated to lost love ones</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Adopt a child</p>
					<p>A family/ person from any part of the world can adopt a child from any part of the world</p>
					<p>USER 1: People who want to adopt a child</p>
					<p>USER 2: Admin of Orphanage/s (or) NGOs (or) any other guardian/s</p>
					<p>Users(For both USER 1 and USER 2) can login from any social network or create a new login</p>
					<p>Authentication:</p>
					<p>It’s mandatory for user to upload any proofs like Aadhar card, Voter ID, Social security number etc.</p>
					<p>Other details:</p>
					<p>Home address/ Contact details</p>
					<p>Through background checkup will be done on the users</p>
					<p>For USER 1:</p>
					<p>Ø  Adopter can select the location from which part of the world he wants to adopt a child</p>
					<p>Ø  Adopter can select the gender of the child, age or any other quality that he/she  is looking for</p>
					<p>Ø  List of orphanages/ guardians will be displayed</p>
					<p>Ø  Upon clicking the orphanage or guardian, user should be able to see the details of (Orphanage/ guardian, All the details of the child including photographs)</p>
					<p>Ø  Dial/ SMS option to contact the orphanage/ guardian</p>
					<p>For USER 2:</p>
					<p>Ø  User can select the region where the child is available</p>
					<p>Ø  User should enter all the available details of the child</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>No Motivation Journal App</p>
					<p>It’d be pretty legit if something I have been wanting to use could come to life. </p>
					<p>I am a believer that the only way to understand personal progress and reach personal goals is to somehow track and measure yourself. </p>
					<p>I also think that a lot can come from small bits of information gathered across a long period of time.</p>
					<p>I want to journal so I can track my progress as I am trying to figure out what I want to do and how I currently feel about what I am doing: professionally, relationally, spiritually, etc. However, I do not make the time to record this important information.</p>
					<p>i.e NoMoJo the “No Motivation Journal” </p>
					<p>Each night while setting an alarm or going through your nightly routine you have precisely 30 seconds to record the highlights and emotions of the day. Once recorded the app then documents the days journal under the specific date in text for later use. </p>
					<p>I love this idea and would love to be able to do this! </p>
					<p>I need a way of tracking myself with minimal effort.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Free Meals app, but pulling from national databases? Would that work? Could be a great way to use the Napkin platform to help people.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>shop share</p>
					<p>if your unable to leave your home you can ask people near the shop to pick something up for you for a charge ( £1, £5? )</p>
					<p>Register with facebook, so you can see whose delivering for you or who your delivery for.</p>
					<p>paypal payments? cash?</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Sharkey</p>
					<p>I am very intentional in life about meeting as many people as I possibly can.  I love to meet new people (as well some of my old friends from time to time) as often as I can.  These encounters are often related to work or an “idea” but not always.  Every instance in which I meet a new person, I will always do the same thing.  I find them on their various social media platforms (Twitter, Facebook, Instagram, LinkedIn, Etc.) either before or after our first meeting.  Quite honestly, I want to know more about the person that I am meeting or the person I have just met.   I am curious about their interests, who we may have as common friends and so much more. </p>
					<p>Finding people on various social media platforms is not always easy.  In fact, at times it can be very difficult.  This can honestly take an hour or so if you want to connect with that person on all of their platforms and their usernames are different on all platforms.  What about when their profile pics don’t match?  9 out of 10 times usernames are different on all platforms, profiles are different on all platforms and profile pics don’t match.  I want to connect with this person but I can’t seem to find him/her on various social media platforms.</p>
					<p>That’s where my app idea “comes to life.”  My app, called “Sharkey” would consolidate all of a person’s social media accounts into one app.  By consolidating into one app …… connecting with a person on various platforms just became a 5 minute task rather than an hour task.  Sharkey users would have their own Sharkey user account and could add their various social media platforms (as few or many as they have) for others to follow/connect. </p>
					<p>A phase two of the app might include a GPS feature that would allow various Sharkey users to connect with others in a selected radius.  A couple of examples might include conferences, church, schools, etc.  Sharkey users in the selected radius could connect with one another based on their location.  This feature would be very effective for conference attendees who are all in attendance for the same reasons. </p>
					<p>Connecting with others is critical in today’s social society.  I believe that “Sharkey” could help people connect easier and quicker in a world where time seems to be more precious than ever before.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Local Lex App Idea</p>
					<p>On January 3, 2014 I started a Twitter account …… @LocalLex.  The idea of “local” was and continues to be a very hot topic/idea in and around Lexington.  It seems as if everything is tagged with a “local” something.  After reserving the account, I waited several months before actually using the account (first tweet May 16, 2014).  Fast forward to just over a year later and today the Twitter account has grown to around 3500 followers.  This growth is not a result of “following for a follow back” model but rather as a result of intentionally and strategically sharing food, events and other items related to Lexington and surround cities.  Hundreds and maybe thousands of users have either mentioned the account or used the hashtag #LocalLex to share things related to Lexington and surrounding cities.</p>
					<p>Food and events are the two primary tweets that the account sees daily.  Lexington seems to be the food capitol of the world!  Events and food …… that’s where people connect!</p>
					<p>I would like to create a very simple app that allows a user to see and search events taking place in/around Lexington and the details of the event (dates, times, locations, menus, etc.).  Since food seems to be a staple in/around Lexington, I would also love to have a “Dinner Roulette” wheel that helps parents, couples or individuals decide where to eat.  I don’t know about most families but the one question that we ask every day is “What are we eating tonight?”  This “Dinner Roulette” wheel could be a fun and interactive way to help with that choice!  Various restaurants could participate in the app.  Restaurants (food trucks too) could choose to participate in the roulette wheel and possibly provide coupons to users.  Analytics could be added to provide feedback to participating restaurants on usage.</p>
					<p>A “LocalLex” app would be a great enhancement to the @LocalLex twitter account and a new way to engage and help connect people in/around Lexington. </p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Roll Out</p>
					<p>Here's an app idea for you.  It's called Roll Out (or something else, if creativity strikes).  Essentially, it's an alarm clock that rewards you for 'not hitting the snooze button' (or hitting it minimally).  So maybe if you go an entire week with only 1 or 2 "snoozes", you receive a prize.  Maybe you can also link it to FB and compete with friends for "fewest snoozes" during the week.</p>
					<p>What kind of rewards?  Kiip actually pays developers to use their services, so you could integrate Kiip rewards - or a similar service.  There would have to be some sort of controls... ie, you can't set multiple alarms, etc... </p>
					<p>But overall, I think this would be a fun project and a new form of discipline and competition. </p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Phorage/Phunt</p>
					<p>Phorage (photo + forage) or Phunt (photo + hunt) An app to help you hunt down the photos you want to take.</p>
					<ul>
						<li>Share and create lists of photos you want to take.</li>
						<li>Each list has a title as well as an optional description and cover image.</li>
						<li>Each item on the list has a title, and optional descriptions, geotags, reminders, and ability to attach photos to the item (either directly from camera or from camera roll)</li>
						<li>Each item or list can be exported to the camera roll/sent via email/etc.</li>
						<li>Each list can be shared (think assignments, daily photo challenges, photo scavenger hunts, etc.)</li>
					</ul>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>When does this movie end? App that the humanity needs!</p>
					<p>You sit in a theater and the movie feels to keep going on and on. When does this flick actually end?</p>
					<p>You could work that out manually by browsing the web and combining other info your smart phone provides. Or you could have an app…</p>
					<p>… an app that combines time and location to guess what movie you are likely to be watching and gives an estimate (movie runtime + advertisement) on how long you still have to suffer.</p>
					<p>Advanced version will show how many of yout fellow moviegoers are anxiously waiting for the movie to end.</p>
					<p>And of course you can collect a database of how likely it is for people in a practicular movie to axiously wait it to be over.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>whimsical messaging app</p>
					<p>I want an app that restores some of the excitement and romance to the standard messaging app. By definition, all of the messaging apps out there share everything instantly and save your whole conversation forever unless you delete it. Most apps will even share exactly when you are typing! When you can see everything at once, there are no surprises!</p>
					<p>We are fortunate to have the technology that we no longer have to rely on letters and the post office to communicate long distances, but we've lost a lot in the process. The delight in crafting a really excellent letter; the touch of sealing it and posting it--sending it out into the world; the anticipation of waiting for a letter to arrive; and the excitement and pleasure of finally opening a friend's letter. Letter writing--from friends passing notes in class to lovers writing across great distances--is a dying art form, but one with many aspects that could easily be adapted for the digital world.</p>
					<p>An amazing, fun app (I call it Envoyer, French for "to send") would be one where you can write messages to your friends that disappear from your phone when sent. Your friend would receive the message and could directly respond to it and send it back. Like dropping the letter back in the mail, the chain would then disappear from their phone. When your received it, you would see your friend's response as well as your original message.</p>
					<p>Whereas in a normal text conversation you're just receiving a single addition to a massive string of little messages that you've already seen, now you're receiving a surprising new contribution to a constantly growing and evolving dialogue. When a new letter comes in, you may also scroll back through the dialogue and see something delightful that you may have forgotten about when you sent it away. Instead of sending little notes accumulating in a long line, you're passing something meaningful back and forth between friends.</p>
					<p>Of course, this app would not replace email, group messaging, or text, but I think there is an audience who wants to talk with their friends and significant others in a less business-like, more whimsical way.</p>
					<p>I hope this is intriguing! I'm attaching a few old and very rudimentary sketches. Forgive the poor graphic design, but I hope they convey how simple this app​​ would truly be!</p>
				</i>
			</blockquote>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
