<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Every Submitted App Idea
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 16th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>Since launching Napkn two weeks ago we've had a lot of great ideas submitted. We've been sharing some of them with the hashtag #NapknAppIdea but why not share the lot? Think you've got a great idea? Submit it here: <a href="mailto:idea@napkn.io">idea@napkn.io</a>.</p>
			</div>
			<br>
			<blockquote> 
				<i>
					<p>Gifts</p>
					<p>Collaboration with friends to make an idea of a birthday gift for another common friend.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Get an alert or notification when your Macbook's battery is below a certain %</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>There are several PAID (expensive) attendance apps out there, but none that are free and solve a basic need:</p>
					<ul>
						<li>Track attendance for a class/service/meeting by simply checking off a list of people in the database</li>
						<li>Share a report weekly, monthly, etc (via email, share sheet, etc)</li>
						<li>Setup recurring events for attendance</li>
						<li>Be syncable/viewable across multiple users/devices</li>
						<li>Offline capability would be a plus</li>
					</ul>
					<p>That's all, I would think there would be many good options out there, but there's not. If you could do this it would be huge for us!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Updating profile pictures across all apps we use today is tedious and dreadful.</p>
					<p>Idea: One standalone application which has permission to select and push the profile picture of choice across all apps connected. A Mobile app that allows one to  do not only push one picture to all apps but select and edit profile picture allowing different profile picture management for different apps.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>There's a lack of open source places data online, it's monopolized mostly by Google and Foursquare. OpenStreetMaps, WikiData, and Geonames are the open source alternatives that are mostly incomplete in comparison. Since there are more complete alternatives, nobody is gonna use them, thus nobody is going to update them.</p>
					<p>I purpose an app that would be similar to foursquare in the search, check-in feature, except it would streamline & modernize the process of adding places, data, etc to OpenStreetMaps or wikidata directly.</p>
					<p>Waze started out as an open source project, with private data. They leveraged the open source community for their own profit. I'm imagining doing something similar, but entirely open.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Being able to have an app that I can use to easily meet friends would be awesome!</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>An app that let's you make a public random contest. You insert a list of participants (it could have an importing tool tough) and it gets you a winner randomly (in need it could have some letters blurred, just in case privacy is required). It also lets you share a public contest link so anyone can enter and check how many participants it had and the winner's name (a public record of the contest). And allowing Twitter/Instagram/something else sign in would be huge for brands.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>It’s a Democratic Jukebox!</p>
					<p>The idea is that everyone in the audience bar/party can submit a vote on the next song to be played.</p>
					<p>Fill the screen with the next suggestion or multiple suggestion swipe right or left to submit your vote.</p>
					<p>Submit your own song to be voted on. Earn reputation to move up in the line.</p>
					<p>The music is drive by the crowd.</p>
					<p>“Jukebox” - Vote for the life of the party.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Like Tinder in terms of swiping, but for firewood. Idea by @johnbhartley</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>I call it who delivers. It would be an app that you can use when you are at home or not. You pull it up and it will show you who delivers food to your address.</p>
					<p>I would find this very helpful if I am traveling to a new area and want to see what is available.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Finding a toilet when you’re a tourist in a new city is not easy. If we can somehow map all this and provide information like whether they are for guests only or for public use, it can be pretty useful.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>Tap button and Confusion app finds an email you forgot to answer from 10 yrs ago. It replies "sounds good, thanks!" The game is called Confusion and you won.</p>
					<p>Inspired by: https://twitter.com/averymonsen/status/615934596178313217</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>I want to match people basing on what makes them laugh. Tinder is based on photos and descriptions- and yes, it's a great app. But God! I've been on so many awkward dated just because somebody was behaving like some stiff stick! Or being selfish narcissist.</p>
					<p>Let's match people on what makes them laught - sense of humour shows a lot about us, if we have distance to ourselves or what topics are close to us.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>It's a messenger with your past self. you just draft a msg, send it to your future self, receive it when it's time, talk back as if you were talking  to another person.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>I have an idea for an app for my product that needs to monitor electricity usage of items plugged into the my peripheral device. I also want the option to switch off anything plugged into the device remotely thereby saving electricity usage.</p>
				</i>
			</blockquote>
			<blockquote> 
				<i>
					<p>The Need : Book store customer who use their phone calculator will no longer have to manually add prices to get total amount of books they buying, instead using QR code scanner that is integrated in every android phone to scan bar code of the book to get the price. This will help users know how much they have to pay when they get to the till.</p>
					<p>The App needs To scan the book Barcode to get the Price of the book like tellers at the till.</p>
					<p>Users will be able to see the price after scanning the book and he/she will decide whether to add the book to the basket or remove it using the provided buttons.</p>
					<p>The App Needs to get price of the book being scanned from the book store database for accurate calculations.</p>
					<p>The app needs to keep track of books being added to the basket.</p>
					<p>Users must be able gets adverts of new books and book on sale on the store.</p>
					<p>For every books scanned their prices.</p>
					<p>When the users presses the “SHOW LIST” Button he/she will be able to remove unwanted or expensive book if he/she does not have enough money and be able scroll up and down to check which book to remove.</p>
					<p>“Scan book price” button should change to “Cancel” in case the user does not want to add the currently scanned book to basket list.</p>
				</i>
			</blockquote>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
