<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #fc6f73; height: 260px;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-title" style="font-weight: 600; font-size: 260%;">
		   		Napkn Blog
		    </div>
		    <br>
		    <div class="app-description">
		   		The latest and greatest from Napkn as we bring people's app ideas to life.
		    </div>
		</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">

			<div class="question">
				<a href="/posts/creating_envoyer">Creating "Envoyer" #NapknAppWeek3</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/rtseidel">Taylor Seidel</a>, September 4th, 2015</i></h4>
		  </div>

			<div class="question">
				<a href="/posts/creating_nomojo">Creating "NoMoJo" #NapknAppWeek2</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/ericlevans">Eric Evans</a>, August 17th, 2015</i></h4>
		  </div>

			<div class="question">
				<a href="/posts/creating_roll_out">Creating "Roll Out" #NapknAppWeek4</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a> & <a href="http://twitter.com/brentholuta">Brent Holuta</a>, August 12th, 2015</i></h4>
		  </div>

			<div class="question">
				<a href="/posts/unique_gameplay_got_carl_rejected_from_the_app_store">Unique Gameplay Got Carl Rejected From The App Store</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 28th, 2015</i></h4>
		  </div>

			<div class="question">
				<a href="/posts/calling_all_app_makers">Calling All App Makers</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 24th, 2015</i></h4>
		  </div>

			<div class="question">
				<a href="/posts/every_submitted_app_idea">Every Submitted App Idea</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 17th, 2015</i></h4>
		  </div>

			<div class="question">
				<a href="/posts/launching_napkn">Launching Napkn</a>
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 16th, 2015</i></h4>
		  </div>

		</div>
	</div>
</div>

<br>
<br>
<br>

