<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Launching Napkn
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 16th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>Two weeks ago we launched <a href="http://www.napkn.io">Napkn</a> on <a href="https://producthunt.com">Product Hunt</a>. The goal of Napkn is to bring people’s app ideas to life, for free. The response so far has been awesome. People have shared some great app ideas from all over the world. We’ve had to use Google Translate more than a few times in what is becoming a truly global project.</p>
			</div>
			<div class="question" style="margin-top: 60px">
				Why?
			</div>
			<div class="answer">
				<p>But wait… what is the point of developers spending their time making apps for free? In our explanation to the Product Hunt community we <a href="http://www.producthunt.com/tech/napkn-io">posted</a> several of the compelling reasons why we decided to build Napkn:</p>
				<div class="block-image">
					<img src="/assets/launching_napkn_1.png" alt="" height="auto" width="80%"/>
				</div>
				<p>Napkn is an experiment in turning the startup tables. We aren’t trying to gain value, we’re aiming to give value away. We think that’s an awesome premise and we're excited to see where it leads us!</p>
			</div>
			<div class="question" style="margin-top: 60px">
				How?
			</div>
			<div class="answer">
				<p>Launching a new idea and getting it to the right people is hard work. Thankfully there's <a href="https://producthunt.com">Product Hunt</a>; a platform where makers and idea hunters showcase the best new products. We were "hunted" by <a href="https://twitter.com/iamkory">Kory Westerhold</a> on the morning of June 30th. By the end of the day the community had voted Napkn to #3.</p>
				<div class="block-image">
					<img src="/assets/launching_napkn_2.png" alt="" height="auto" width="80%"/>
				</div>
				<p>We also had great shoutouts from some of the leaders in the app development community. <a href="http://www.raywenderlich.com">Ray Wenderlich</a> shared this tweet:</p>
				<div class="block-image">
					<img src="/assets/launching_napkn_3.png" alt="" height="auto" width="80%"/>
				</div>
				<p><a href="http://www.firebase.com">Firebase</a> also shared the news with their development community:</p>
				<div class="block-image">
					<img src="/assets/launching_napkn_4.png" alt="" height="auto" width="80%"/>
				</div>
				<p>All-in-all the launch thus far has been a success. Here are some numbers from our first two weeks:</p>
				<ul>
					<li>Unique Visitors to Napkn: 12,162</li>
					<li>Unique Visitors from Product Hunt to Napkn: 4,404</li>
					<li>Ideas Submitted to Napkn: 78</li>
					<li>Twitter Followers: 269</li>
				</ul>
			</div>
			<div class="question" style="margin-top: 60px">
				What's Next?
			</div>
			<div class="answer">
				<p>Our first app, <a href="/apps/carl_is_hungry">Carl is Hungry</a>, is in review with Apple. Our second app, <a href="/apps/nomojo">NoMoJo</a>, is well on its way. If you're interested in following along join us on Twitter: <a href="https://twitter.com/napknapps">@NapknApps</a>. If you have an idea, submit it here: <a href="mailto:idea@napkn.io">idea@napkn.io</a>. And lastly... if you are a developer/designer stay tuned... we’ll be opening submission for makers to join soon :)</p>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
