<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Tweet Your App Idea
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, September 14th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				When we first started Napkn, people sent in their best app ideas via email. Each week we'd pick one and make it. This was a great idea but... <a href="/app_ideas">we've got a better one</a>. What if you could submit your idea with a simple tweet? What if all those ideas showed up on a "leaderboard?" What if people could up-vote their favorite ideas and the best ones would be crowdsourced? Sound cool? We thought so too!
			</div>
			<div class="question" style="margin-top: 60px">
				#NapknAppIdea
			</div>
			<div class="answer">
				<p>To enter your idea is now super simple. All you do is tweet with the hashtag #NapknAppIdea. This is what it looks like.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">I want <a href="https://twitter.com/NapknApps">@NapknApps</a> to make an app that lets me race my commute: against myself on prev. days, and same day alt. route. <a href="https://twitter.com/hashtag/napknappidea?src=hash">#napknappidea</a></p>&mdash; Lyman Stone (@lymanstoneky) <a href="https://twitter.com/lymanstoneky/status/642437049312759808">September 11, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>After you tweet your idea you'll get a response from Napkn with a link to edit your idea and fill out some more details.</p>
				<br>
				<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/lymanstoneky">@lymanstoneky</a> great app idea! edit/share/upvote -&gt; <a href="http://t.co/Ox2oyd1poq">http://t.co/Ox2oyd1poq</a></p>&mdash; Napkn Apps (@NapknApps) <a href="https://twitter.com/NapknApps/status/642437050550120448">September 11, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<p>Once you fill everything out you'll have a listing that you can share to encourage your friends to up-vote.</p>
				<div class="block-image">
					<img src="/assets/tweet_your_app_idea_1.png" alt="" height="auto" width="90%"/>
				</div>
				<p>Here's what it looks like in the list. Ideas "above the line" are eligible to be created by Napkn. If your idea is below the line you can encourage people to up-vote it! Ideas automatically disappear after two weeks. If your idea doesn't get selected no worries! You can always resubmit!</p>
				<div class="block-image">
					<img src="/assets/tweet_your_app_idea_2.png" alt="" height="auto" width="90%"/>
				</div>
				<p>That's it! Tweet your best idea and happy up-voting!</p>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
