<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
		</div>
    <div class="col-sm-10">
			<div class="title">
				Unique Gameplay Got Carl Rejected From The App Store
			</div>
		  <div class="media-body">
		    <h4 class="media-heading"><i>Post By: <a href="http://twitter.com/zachwhelchel">Zach Whelchel</a>, July 28th, 2015</i></h4>
		  </div>
			<br>
			<br>
			<br>
			<div class="answer">
				<p>Unique games are great. As developers we aim to delight users with games that put them in a new context, or challenge them in a new way. The best games push us to think differently.</p>
				<p>Recently, here at Napkn, we created a unique game: <a href="/apps/carl_is_hungry">Carl is Hungry</a>. Who’s Carl? Why is he hungry? Allow me to explain…</p>
			</div>
			<div class="question" style="margin-top: 60px">
				Meet Carl
			</div>
			<div class="answer">
				<p>This is Carl. He may look nice... but he's actually kind of mean.</p>
				<div class="block-image">
					<img src="/assets/week_1_icon.png" alt="" height="auto" width="40%"/>
				</div>
				<p>As soon as you begin the game, Carl starts coming for you. He moves really slowly. You can out-walk him easily. But he never stops.</p>
				<div class="block-image">
					<img src="/assets/unique_gameplay_got_us_rejected_from_the_app_store_1.png" alt="" height="auto" width="50%"/>
				</div>
				<p>Carl is “hungry” and wants to eat you. When he gets close you have two options:</p>
				<ol>
					<li>Run away to reset him.</li>
					<li>Distract him by sending him to a friend.</li>
				</ol>
			</div>
			<div class="question" style="margin-top: 60px">
				The Twist
			</div>
			<div class="answer">
				<p><a href="http://twitter.com/danieloleary">Daniel O’Leary</a>, who came up with the idea for Carl, wanted to capture the suspense of being followed. He wanted it to be creepy… and he wanted the user to take it seriously. So we came up with a way to raise the stakes.</p>
				<p>How do you keep users invested in staying away from Carl? You give them one chance. Only one. Once you are eaten, that's it. Game over. No restarting. No re-installing. Permadeath. Once eaten, the app only shows you the global scoreboard and how long you survived.</p>
			</div>		
			<div class="question" style="margin-top: 60px">
				Rejection
			</div>
			<div class="answer">
				<p>Making a game that can only be experienced once is a cool idea. Lots of games have become popular because of a weird difficult twist (think Flappy Bird).</p>
				<p>Unfortunately though... Apple doesn’t like the idea. In fact, Carl is Hungry was rejected from the App Store because of this twist:</p>
				<div class="block-image">
					<img src="/assets/unique_gameplay_got_us_rejected_from_the_app_store_2.png" alt="" height="auto" width="95%"/>
				</div>
				<p>The definition of "lasting entertainment value" is interesting. Apple themselves offer entertainment on a "renting" basis in the form of shows/movies. All things have a time and place. Nothing lasts forever. The question then is one that has been raised by many developers:</p> 
				<div class="proclamation">
					<i>Should Apple be the gatekeepers of which "artistic decisions" are allowed on the App Store?</i>
				</div>
				<br>
			</div>
			<div class="question" style="margin-top: 60px">
				Moving Forward
			</div>
			<div class="answer">
				<p>So now we have some decisions to make. Should we compromise gameplay in order to get the app on the App Store? Or should we look for another solution that includes adding more/other value. We'd love to hear your thoughts. Hit us up on <a href="http://twitter.com/napknapps">Twitter</a>.</p>
				<div class="block-image">
					<img src="/assets/unique_gameplay_got_us_rejected_from_the_app_store_3.png" alt="" height="auto" width="40%"/>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div id="disqus_thread">
			</div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'napkn';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>